<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tedu.weibo.mapper.user.UserMapper">

    <select id="selectAllUsers"><!--查询所有用户-->
        SELECT *
        FROM user
    </select>

    <select id="selectUser" parameterType="com.tedu.weibo.pojo.entity.user.User" resultType="com.tedu.weibo.pojo.entity.user.User"><!--查找用户-->
        SELECT id, username, nickname, age, password, created
        FROM user
        WHERE true
        <if test="id!=null">AND id=#{id}</if>
        <if test="userName!=null">AND username=#{userName}</if>
        <if test="nickName!=null">AND nickname=#{nickName}</if>
        <if test="password!=null">AND password=#{password}</if>
        <if test="created!=null">AND created=#{created}</if>
    </select>

    <update id="updateUser" parameterType="com.tedu.weibo.pojo.entity.user.User"><!--修改用户-->
        UPDATE user
        <set>
            <if test="userName!=null">username=#{userName},</if>
            <if test="nickName!=null">nickname=#{nickName},</if>
            <if test="password!=null">password=#{password},</if>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="addUser" parameterType="com.tedu.weibo.pojo.entity.user.User"><!--添加用户-->
        INSERT
        INTO user(username,nickname,password,created)
        VALUES (#{userName},#{nickName},#{password},#{created})
    </insert>

    <delete id="deleteUser" parameterType="com.tedu.weibo.pojo.entity.user.User"><!--按照ID删除用户-->
        DELETE
        FROM user
        WHERE true
        <if test="id!=null">AND id=#{id}</if>
        <if test="userName!=null">AND username=#{userName}</if>
        <if test="nickName!=null">AND nickname=#{nickName}</if>
        <if test="password!=null">AND password=#{password}</if>
        <if test="created!=null">AND created=#{created}</if>
    </delete>

</mapper>